<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
<!-- Название у нас будет Post -->
{% block title %}
Category
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1><strong>Раздел: {{ category.name }}</strong></h1><br>
<form action="" method="post">{% csrf_token %}
    <input type="submit" value="Подписаться на раздел" />
</form>
{% endblock content %}
