{% extends 'flatpages/default.html' %}

{% load custom_tags %}

<!-- Название у нас будет posts -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все новости-->
{% block content %}
    <h1>Все новости</h1>
    <h3>{{ time_now|date:'d F Y' }}</h3>
    <h3>Всего новостей: {{ posts|length }}</h3>
    <h3> {{ next_publish|default_if_none:"Чуть позже сообщим о новых публикациях!" }} </h3>
<!--выводим новости  только если они есть-->

<!--  Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #-->
   <form action="" method="get">
<!--        Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}-->
       {{ filterset.form.as_p }}
<!--        Добавим кнопку отправки данных формы #}-->
       <input type="submit" value="Найти" />
   </form>
    <hr>
    {% if posts %}
        <table>
           <tr>
               <td>Название</td>
               <td>Автор</td>
               <td>Категория</td>
               <td>Дата публикации</td>
               <td>Рейтинг</td>
           </tr>

           <!-- Для каждой новости будете генерироваться новая строчка,
           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           post — переменная цикла, т.е. наша новость/статья полученная из списка -->
           {% for post in posts %}
           <tr>
               <!-- Получаем доступ к
                полям объекта модели-->
               <td>{{ post.title }}</td>
               <td>{{ post.author|truncatewords:1 }}</td>
               <td>{{ post.categoryType}}</td>
               <td>{{ post.dateCreation|date:'d F Y' }}</td>
               <td>{{ post.rating }}</td>
           </tr>
           {% endfor %}

       </table>
    {% else %}
<!--если новостей нет, то говорим что их нет-->
        <h2>Новостей нет !</h2>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
<!--    информация о текущей странице-->
    {{ page_obj.number }}
<!--информация о следующих страницах-->
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {%endif %}

{% endblock content %}